	<form id="battleReportEditor" method="post" action="/edit/{{ battleReport.battleReportID }}">
	<div class="panel panel-primary">
		<div class="panel-heading">
			<h3 class="panel-title">Edit Battle</h3>
		</div>
		<div class="panel-body">
			<div class="form-group">
				<label for="battleTitle" class="control-label">Title:</label>
				<input class="form-control" id="battleTitle" name="battleTitle" value="{{ battleReport.title }}">
			</div>
			<input type="hidden" id="battleReportChanges" name="battleReportChanges" value="">
		</div>
	</div>
	<div class="panel panel-primary">
		<div class="panel-heading">
			<h3 class="panel-title">Battle Footage:</h3>
		</div>
		<div class="panel-body">
			<div class="row">
				<div class="col-sm-4">
					<p>You may enter a video's link from <a href="//youtube.com/">YouTube</a> or <a href="//vimeo.com/">Vimeo</a>. It will show up next to your BattleReport.</p>
					<p>You may also (optionally) select one of the BattleReport's enlisted combatants to specify the video's point of view.</p>
				</div>
				<div class="complete-battle-footage col-sm-8">
				{% for video in battleReport.footage %}
					<div class="battle-footage-container form-group">
						<label for="battleFootage-{{ video.index }}-url" class="control-label">Battle Footage:</label>
						<div class="input-group">
							<span class="input-group-btn">
								<button type="button" class="btn btn-default move-battle-footage-up"><span class="glyphicon glyphicon-chevron-up" aria-label="Move Up"></span></button>
							</span>
							<span class="input-group-btn">
								<button type="button" class="btn btn-default move-battle-footage-down"><span class="glyphicon glyphicon-chevron-down" aria-label="Move Down"></span></button>
							</span>
							<input class="form-control" id="battleFootage-{{ video.index }}-url" name="battleFootageUrl[]" value="{{ video.url }}">
							<span class="input-group-addon">
								<span class="glyphicon glyphicon-user" aria-label="Select pilot"></span>
							</span>
							<input class="form-control" name="battleFootageCombatantCharName[]" value="{% if video.combatant is defined %}{{ video.combatant.characterName }}{% endif %}">
							<span class="input-group-btn">
								<button type="button" class="btn btn-danger delete-battle-footage"><span class="glyphicon glyphicon-trash" aria-label="Delete"></span></button>
							</span>
						</div>
						<input type="text" name="battleFootageCombatantID[]" value="{{ video.combatantID }}">
					</div>
				{% endfor %}
					<div id="add-battle-footage" class="form-group">
						<label for="battleFootage-add-url" class="control-label">Battle Footage:</label>
						<div class="input-group">
							<input class="form-control" id="battleFootage-add-url" name="battleFootageUrl[]" value="">
							<span class="input-group-addon">
								<span class="glyphicon glyphicon-user" aria-label="Select pilot"></span>
							</span>
							<input class="form-control" name="battleFootageCombatantCharName[]" value="">
							<span class="input-group-btn">
								<button type="button" class="btn btn-info add-battle-footage">Add</button>
							</span>
						</div>
						<input type="text" name="battleFootageCombatantID[]" value="">
					</div>
				</div>
			</div>
		</div>
	</div>
	</form>
	<div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">
                Assign Battle-Parties 
            </h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-xs-4">
                    {% set currentTeamName = "Team A" %}
                    {% set currentTeamID = "teamA" %}
                    {% set currentTeam = battleReport.teamA %}
                    {% include 'components/teamList.html' %}
                </div>
                <div class="col-xs-4">
                    {% set currentTeamName = "Team B" %}
                    {% set currentTeamID = "teamB" %}
                    {% set currentTeam = battleReport.teamB %}
                    {% include 'components/teamList.html' %}
                </div>
                <div class="col-xs-4">
                    {% set currentTeamName = "Team C" %}
                    {% set currentTeamID = "teamC" %}
                    {% set currentTeam = battleReport.teamC %}
                    {% include 'components/teamList.html' %}
                </div>
            </div>
        </div>
        <div class="panel-footer">
            <div class="row">
                <div class="col-xs-6 text-left">
                {% if BR_USER_CAN_UNPUBLISH and battleReport.published == true %}
                    <a id="br-btn-unpublish" href="/edit/{{ battleReport.battleReportID }}/unpublish" class="btn btn-warning">Unpublish</a>
                {% endif %}
				{% if BR_USER_CAN_DELETE %}
					{% if battleReport.published == true %}
					&nbsp;&nbsp;&nbsp;&nbsp;
					{% endif %}
					<a id="br-btn-delete" href="/edit/{{ battleReport.battleReportID }}/delete" class="btn btn-danger">Delete</a>
				{% endif %}
                </div>
                <div class="col-xs-6 text-right">
                    <a href="{% if BR_USER_CAN_UNPUBLISH or battleReport.published == true %}/show/{{ battleReport.battleReportID }}{% else %}/{% endif %}" class="btn btn-default">Dismiss</a>
                    <button class="btn btn-primary" id="save-br">Save {% if battleReport.published == false %}and Publish {% endif %}BattleReport</button>
                </div>
            </div>
        </div>
	</div>
