	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">Statistics</h3>
		</div>
		<div class="panel-body row">
			<div class="col-sm-6 col-md-3">
				<label class="control-label">Timespan:</label>
				<div>{{ battleReport.timeSpan }}</div>
			</div>
			<div class="col-sm-6 col-md-3">
				<label class="control-label">Solar System:</label>
				<div>{{ battleReport.solarSystemName }}</div>
			</div>
			<div class="hidden-md hidden-lg">&nbsp;</div>
			<div class="col-sm-6 col-md-3">
				<label class="control-label">Total Pilots Involved:</label>
				<div>{{ battleReport.totalPilots }}</div>
			</div>
			<div class="col-sm-6 col-md-3">
				<label class="control-label">Total ISK Destroyed:</label>
				<div>{% if battleReport.totalLost < 1000000000000 %}
					{% if battleReport.totalLost < 1000000000 %}
					{{ (battleReport.totalLost / 1000000)|number_format(2, '.', ',') }} million
					{% else %}
					{{ (battleReport.totalLost / 1000000000)|number_format(2, '.', ',') }} billion
					{% endif %}
					{% else %}
					{{ (battleReport.totalLost / 1000000000000)|number_format(2, '.', ',') }} trillion
					{% endif %} ISK</div>
			</div>
		</div>
	</div>
