                    <h4 class="list-group-item-heading text-center">{{ currentTeamName }}</h4>
                    <p class="text-center"><small>{{ currentTeam.uniquePilots }} pilots involved<br>
                        {% if currentTeam.totalLost < 1000000000000 %}
                        {% if currentTeam.totalLost < 1000000000 %}
                        {{ (currentTeam.totalLost / 1000000)|number_format(2, '.', ',') }} million
                        {% else %}
                        {{ (currentTeam.totalLost / 1000000000)|number_format(2, '.', ',') }} billion
                        {% endif %}
                        {% else %}
                        {{ (currentTeam.totalLost / 1000000000000)|number_format(2, '.', ',') }} trillion
                        {% endif %} ISK lost<br>
                        {{ (currentTeam.efficiency * 100)|number_format(1, '.', ',') }}% efficiency</small></p>
                    <table class="table table-striped table-hover">
                        <tbody>
                        {% for combatant in currentTeam.members %}
                            <tr class="{% if combatant.died %}danger{% endif %}">
                                <td><img src="//image.eveonline.com/InventoryType/{{ combatant.shipTypeID }}_32.png"></td>
                                <td>{{ combatant.characterName }}<br>
                                    <small>{{ combatant.corporationName }}<br>
                                    {% if combatant.allianceID > 0 %}{{ combatant.allianceName }}<br>{% endif %}
                                    {{ combatant.shipTypeName }}
                                    {% if combatant.priceTag > 0 %}<br>({{ (combatant.priceTag / 1000000)|number_format(2, '.', ',') }} million ISK){% endif %}</small></td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>