                    <h4 class="list-group-item-heading text-center">{{ currentTeamName }}</h4>
                    {% if battleInReview is not defined or battleInReview == false %}
                    <p class="text-center"><small>{{ currentTeam.uniquePilots }} pilots involved<br>
                        {% if currentTeam.totalLost < 1000000000000 %}
                        {% if currentTeam.totalLost < 1000000000 %}
                        {{ (currentTeam.totalLost / 1000000)|number_format(2, '.', ',') }} million
                        {% else %}
                        {{ (currentTeam.totalLost / 1000000000)|number_format(2, '.', ',') }} billion
                        {% endif %}
                        {% else %}
                        {{ (currentTeam.totalLost / 1000000000000)|number_format(2, '.', ',') }} trillion
                        {% endif %} ISK lost<br>
                        {{ (currentTeam.efficiency * 100)|number_format(1, '.', ',') }}% efficiency</small></p>
                    {% endif %}
                    <table id="battlereport-{{ currentTeamID }}" class="table table-striped table-hover">
                        <tbody>
                        {% for combatant in currentTeam.members %}
                            <tr class="combatant{% if combatant.died %} danger{% endif %}{% if combatant.brHidden %} hidden-on-br{% endif %}" data-combatant-id="{{ combatant.brCombatantID }}" data-kill-id="{{ combatant.killID }}">
                                <td><img src="//image.eveonline.com/InventoryType/{{ combatant.shipTypeID }}_64.png"></td>
                                <td style="width:100%">
                                    <div class="combatant-details">
                                        {% if combatant.characterName != '' %}<strong>{{ combatant.characterName }}</strong><br>{% endif %}
                                        <small>{{ combatant.corporationName }}
                                            {% if combatant.allianceID > 0 %}<br>{{ combatant.allianceName }}{% endif %}</small><br>
                                        {{ combatant.shipTypeName }}<br>
                                            {% if combatant.priceTag > 0 %}({{ (combatant.priceTag / 1000000)|number_format(2, '.', ',') }} million ISK){% else %}&nbsp;{% endif %}
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>