{% extends 'base.html' %}

{% set pageTitle = 'Administration' %}

{% block content %}
	<h1>Administration</h1>
	{% if adminCurrentReleaseInfo is defined %}
	<div class="panel panel-default">
		{% if adminCurrentReleaseInfo.installedVersionUpToDate == true %}
		<div class="panel-heading">
			<h3 class="panel-title">
				<span class="text-success glyphicon glyphicon-ok"></span>
				Your BattleReport installation is up to date
			</h3>
		</div>
		<div class="panel-body">
			<p>You have the latest release installed: <kbd>v{{ adminCurrentReleaseInfo.installedVersion.major }}.{{ adminCurrentReleaseInfo.installedVersion.minor }}.{{ adminCurrentReleaseInfo.installedVersion.patch }}</kbd>.</p>
		</div>
		{% else %}
		<div class="panel-heading">
			<h3 class="panel-title">
				<span class="text-danger glyphicon glyphicon-remove"></span>
				Your BattleReport installation is outdated!
			</h3>
		</div>
		<div class="panel-body">
			<p>Your installed version is: <kbd>v{{ adminCurrentReleaseInfo.installedVersion.major }}.{{ adminCurrentReleaseInfo.installedVersion.minor }}.{{ adminCurrentReleaseInfo.installedVersion.patch }}</kbd> the latest available release is version: <kbd>v{{ adminCurrentReleaseInfo.currentVersion.major }}.{{ adminCurrentReleaseInfo.currentVersion.minor }}.{{ adminCurrentReleaseInfo.currentVersion.patch }}</kbd></p>
			<h4>{{ adminCurrentReleaseInfo.releaseTitle }}</h4>
			{{ adminCurrentReleaseInfo.releaseInfo|raw }}
		</div>
		<div class="panel-footer text-right">
			<a href="{{ adminCurrentReleaseInfo.releaseUrl }}" target="_blank" class="btn btn-xs btn-primary">Go To Releases Page</a>
		</div>
		{% endif %}
	</div>
	{% endif %}
	{% if adminMissingLossValues is defined %}
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">
				{% if adminMissingLossValues.battleReportsCount > 0 %}
				<span class="text-danger glyphicon glyphicon-remove"></span>
				{% else %}
				<span class="text-success glyphicon glyphicon-ok"></span>
				{% endif %}
				BattleReports with missing LossValues
			</h3>
		</div>
		<div class="panel-body">
		{% if adminMissingLossValues.error == true %}
			<div class="alert alert-danger">
				<strong>Error</strong> while searching for BattleReports with missing LossValues.
			</div>
		{% endif %}
		{% if adminMissingLossValues.action is defined and adminMissingLossValues.action.message != '' %}
			<div class="alert alert-{% if adminMissingLossValues.action.success == true %}info{% else %}danger{% endif %}">
				{{ adminMissingLossValues.action.message }}
			</div>
		{% endif %}
		{% if adminMissingLossValues.battleReportsCount is defined %}
			<div>
				There are <kbd>{{ adminMissingLossValues.battleReportsCount }}</kbd> BattleReports with missing <strong>LossValues</strong>.
				{% if adminMissingLossValues.battleReportsCount > 0 %}
				<a href="/admin/refetchForLossValues" class="btn btn-sm btn-danger">Refetch involved KillMails &amp; fix it!</a>
				{% endif %}
			</div>
		{% endif %}
		</div>
	</div>
	{% endif %}
	{% if adminMissingDamageValues is defined %}
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">
				{% if adminMissingDamageValues.battleReportsCount > 0 %}
				<span class="text-danger glyphicon glyphicon-remove"></span>
				{% else %}
				<span class="text-success glyphicon glyphicon-ok"></span>
				{% endif %}
				Combatants within BattleReports with missing DamageValues
			</h3>
		</div>
		<div class="panel-body">
		{% if adminMissingDamageValues.error == true %}
			<div class="alert alert-danger">
				<strong>Error</strong> while searching for Combatants with BattleReports with missing DamageValues.
			</div>
		{% endif %}
		{% if adminMissingDamageValues.action is defined and adminMissingDamageValues.action.message != '' %}
			<div class="alert alert-{% if adminMissingDamageValues.action.success == true %}info{% else %}danger{% endif %}">
				{{ adminMissingDamageValues.action.message }}
			</div>
		{% endif %}
		{% if adminMissingDamageValues.battleReportsCount is defined %}
			<div>
				There are <kbd>{{ adminMissingDamageValues.battleReportsCount }}</kbd> BattleReports with missing <strong>DamageValues</strong>.
				{% if adminMissingDamageValues.battleReportsCount > 0 %}
				<a href="/admin/refetchForDamageValues" class="btn btn-sm btn-danger">Refetch involved KillMails &amp; fix it!</a>
				{% endif %}
			</div>
		{% endif %}
		</div>
	</div>
	{% endif %}
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">
				Miscellanous
			</h3>
		</div>
		<div class="panel-body">
		{% if Miscellanous.error is defined and Miscellanous.error != '' %}
			<div class="alert alert-danger">
				<strong>Error:</strong> {{ Miscellanous.error }}
			</div>
		{% endif %}
		{% if Miscellanous.success is defined and Miscellanous.success != '' %}
			<div class="alert alert-success">
				<strong>Success!</strong> {{ Miscellanous.success }}
			</div>
		{% endif %}
			<div>
				<p>If you refetched kill mails for missing loss or damage values, or if you just want to redo all the corresponding calculations, click <a href="/admin/repopulateStatistics" class="btn btn-sm btn-danger">Repopulate Statistics</a></p>
			</div>
		</div>
	</div>
	{% if adminSomethingFoo is defined %}
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">Admin Something Foo ...</h3>
		</div>
		<div class="panel-body">
			Whoop
		</div>
	</div>
	{% endif %}
{% endblock %}

{% block scripts %}
<script>
</script>
{% endblock %}