{% extends 'base.html' %}

{% set pageTitle = 'Edit BattleReport' %}
{% set battleInReview = true %}

{% block content %}
	<h1>Edit BattleReport</h1>
	{% if BR_USER_CAN_EDIT == false %}
	<div class="alert alert-danger">
		<strong>Error!</strong> You are not permitted to alter BattleReports that are not your own!
	</div>
	{% else %}
	{% if battleReportSavingError == true %}
	<div class="alert alert-danger">
		<strong>Dammit!</strong> Something bad happened while trying to save the battle report. Please try again.
	</div>
	{% endif %}
	{% include 'components/brStatistics.html' %}
	{% set BR_CAN_APPEND_COMBATANTS = true %}
	{% include 'components/brEditPanel.html' %}
	{% endif %}
{% endblock %}

{% block scripts %}
{% include 'components/brEditor.html' %}
<script src="/js/jquery.autocomplete.min.js"></script>
<script>var battleReport = {{ battleReport.toJSON()|raw }};</script>
<script src="/js/br.editor.min.js"></script>
<script>
{% if BR_USER_CAN_UNPUBLISH %}$('#br-btn-unpublish').click(function (event) { if (!confirm('Do you really want to unpublish this BattleReport?')) event.preventDefault(); });{% endif %}
{% if BR_USER_CAN_DELETE %}$('#br-btn-delete').click(function (event) { if (!confirm('Do you really want to completely delete this BattleReport?')) event.preventDefault(); });{% endif %}
</script>
{% endblock %}
