{% extends 'base.html' %}

{% set pageTitle = 'Error' %}

{% block content %}
<div class="jumbotron">
	<div class="page-header">
		<h1>Error!</h1>
	</div>
	<div class="alert alert-danger">
		<p>{{ message }}</p>
		<kbd># {{ codeHash }}</kbd>
	</div>
	{% for detail in errorDetails %}
	<div class="row">
		<div class="col-xs-3">{{ detail.label }}</div>
		<div class="col-xs-9">{{ detail.value }}</div>
	</div>
	{% endfor %}
	<p>&nbsp;</p>
	<p><a href="/" class="btn btn-primary btn-lg" role="button">Go Back To K-Space</a></p>
</div>
{% endblock %}
