{% extends 'base.html' %}

{% set pageTitle = 'Show BattleReport' %}
{% if battleReport.title != '' %}
    {% set pageTitle = battleReport.title %}
{% endif %}

{% block head %}
<style>
	.collapse-button .glyphicon-chevron-down{display:none;}
	.collapse-button .glyphicon-chevron-up{display:inline-block;}
	.collapse-button.collapsed .glyphicon-chevron-down{display:inline-block;}
	.collapse-button.collapsed .glyphicon-chevron-up{display:none;}
	.battle-footage{position:relative;width:100%;padding-top:56.35%}
	.battle-footage iframe{position:absolute;top:0;left:0;width:100%;height:100%;}
</style>
{% endblock %}

{% block content %}
    <h1>
		{% if battleReport.published == false %}
		<span class="btn btn-xs btn-info">UNPUBLISHED</span><br>
		{% endif %}
        {% if battleReport.title == '' %}
            {{ battleReport.title }}
        {% else %}
            {{ pageTitle }}
        {% endif %}
        {% if BR_USER_CAN_EDIT %}
        <a href="/edit/{{ battleReport.battleReportID }}" class="btn btn-xs btn-default">Edit BR</a>
        {% endif %}
    </h1>
    {% include 'components/brStatistics.html' %}
	{% if battleReport.footage|length > 0 %}
	<div class="panel panel-default">
		<div class="panel-heading">
			<div style="float:right">
				<a href="#footage" data-toggle="collapse" class="btn btn-xs btn-default collapsed collapse-button">
					<span class="glyphicon glyphicon-chevron-down"></span>
					<span class="glyphicon glyphicon-chevron-up"></span>
				</a>
			</div>
			<h3 class="panel-title">Battle Footage</h3>
		</div>
		<div id="footage" class="panel-body panel-collapse collapse">
		{% for video in battleReport.footage %}
			<div class="battle-footage">
				<iframe width="480" height="270" frameborder="0" src="{{ video }}"></iframe>
			</div>
		{% endfor %}
		</div>
	</div>
	{% endif %}
    <div class="panel panel-primary">
        <div class="panel-heading">
            <div style="float:right">
                <a href="/show/{{ battleReport.battleReportID }}" class="btn btn-xs btn-primary"{% if battleReportDetail == 'overview' %} style="opacity:.5"{% endif %}><span class="glyphicon glyphicon-menu-hamburger"></span></a>
                <a href="/show/{{ battleReport.battleReportID }}/timeline" class="btn btn-xs btn-primary"{% if battleReportDetail == 'timeline' %} style="opacity:.5"{% endif %}><span class="glyphicon glyphicon-time"></span></a>
            </div>
            <h3 class="panel-title">{{ battleReportDetailTitle }}</h3>
        </div>
        {% if battleReportDetail == 'overview' %}
        <div class="panel-body">
            <div class="row">
            {% if battleReport.teamC.members|length > 0 %}
                {% set colClsName = 'col-xs-4' %}
            {% else %}
                {% set colClsName = 'col-xs-6' %}
            {% endif %}
                <div class="{{ colClsName }}">
                    {% set currentTeamName = "Team A" %}
                    {% set currentTeamID = "teamA" %}
                    {% set currentTeam = battleReport.teamA %}
                    {% include 'components/teamList.html' %}
                </div>
                <div class="{{ colClsName }}">
                    {% set currentTeamName = "Team B" %}
                    {% set currentTeamID = "teamB" %}
                    {% set currentTeam = battleReport.teamB %}
                    {% include 'components/teamList.html' %}
                </div>
                {% if battleReport.teamC.members|length > 0 %}
                <div class="{{ colClsName }}">
                    {% set currentTeamName = "Team C" %}
                    {% set currentTeamID = "teamC" %}
                    {% set currentTeam = battleReport.teamC %}
                    {% include 'components/teamList.html' %}
                </div>
                {% endif %}
            </div>
        </div>
        {% else %}
        <div class="panel-body">
            <div class="row">
            {% if battleReport.teamC.members|length > 0 %}
                {% set colClsName = 'col-xs-4' %}
                {% set pilotColWidth = '33%' %}
            {% else %}
                {% set colClsName = 'col-xs-6' %}
                {% set pilotColWidth = '50%' %}
            {% endif %}
                <div class="{{ colClsName }}">
                    <h4 class="list-group-item-heading text-center">Team A</h4>
                    <p class="text-center"><small>{{ battleReport.teamA.losses }} lost</small></p>
                </div>
                <div class="{{ colClsName }}">
                    <h4 class="list-group-item-heading text-center">Team B</h4>
                    <p class="text-center"><small>{{ battleReport.teamB.losses }} lost</small></p>
                </div>
                {% if battleReport.teamC.members|length > 0 %}
                <div class="{{ colClsName }}">
                    <h4 class="list-group-item-heading text-center">Team C</h4>
                    <p class="text-center"><small>{{ battleReport.teamC.losses }} lost</small></p>
                </div>
                {% endif %}
            </div>
            {% set timeline = battleReport.getTimeline() %}
            <table id="battlereport-timeline" class="table table-striped table-hover">
                <tbody>
                {% for event in timeline %}
                    <tr>
                        {% if event.occurredToTeamA %}
                        {% set combatant = event.combatantEventOccuredTo %}
                        <td class="danger combatant" data-kill-id="{{ event.killID }}"><img src="//image.eveonline.com/InventoryType/{{ combatant.shipTypeID }}_64.png"></td>
                        <td class="danger combatant" data-kill-id="{{ event.killID }}" style="width:{{ pilotColWidth }}">
                            <div class="combatant-details">
                                {% if combatant.characterName != '' %}<strong>{{ combatant.characterName }}</strong><br>{% endif %}
                                <small>{{ combatant.corporationName }}
                                    {% if combatant.allianceID > 0 %} / {{ combatant.allianceName }}{% endif %}</small><br>
                                {{ combatant.shipTypeName }}<br>
                                    {% if combatant.priceTag > 0 %}({{ (combatant.priceTag / 1000000)|number_format(2, '.', ',') }} million ISK){% else %}&nbsp;{% endif %}
                            </div>
                        </td>
                        {% else %}
                        <td></td><td style="width:{{ pilotColWidth }}"></td>
                        {% endif %}
                        <td class="text-center">{{ event.timeStampString }}</td>
                        {% if event.occurredToTeamB %}
                        {% set combatant = event.combatantEventOccuredTo %}
                        <td class="danger combatant" data-kill-id="{{ event.killID }}"><img src="//image.eveonline.com/InventoryType/{{ combatant.shipTypeID }}_64.png"></td>
                        <td class="danger combatant" data-kill-id="{{ event.killID }}" style="width:{{ pilotColWidth }}">
                            <div class="combatant-details">
                                {% if combatant.characterName != '' %}<strong>{{ combatant.characterName }}</strong><br>{% endif %}
                                <small>{{ combatant.corporationName }}
                                    {% if combatant.allianceID > 0 %} / {{ combatant.allianceName }}{% endif %}</small><br>
                                {{ combatant.shipTypeName }}<br>
                                    {% if combatant.priceTag > 0 %}({{ (combatant.priceTag / 1000000)|number_format(2, '.', ',') }} million ISK){% else %}&nbsp;{% endif %}
                            </div>
                        </td>
                        {% else %}
                        <td></td><td style="width:{{ pilotColWidth }}"></td>
                        {% endif %}
                        {% if battleReport.teamC.members|length > 0 %}
                        <td class="text-center">{{ event.timeStampString }}</td>
                        {% if event.occurredToTeamC %}
                        {% set combatant = event.combatantEventOccuredTo %}
                        <td class="danger combatant" data-kill-id="{{ event.killID }}"><img src="//image.eveonline.com/InventoryType/{{ combatant.shipTypeID }}_64.png"></td>
                        <td class="danger combatant" data-kill-id="{{ event.killID }}" style="width:{{ pilotColWidth }}">
                            <div class="combatant-details">
                                {% if combatant.characterName != '' %}<strong>{{ combatant.characterName }}</strong><br>{% endif %}
                                <small>{{ combatant.corporationName }}
                                    {% if combatant.allianceID > 0 %} / {{ combatant.allianceName }}{% endif %}</small><br>
                                {{ combatant.shipTypeName }}<br>
                                    {% if combatant.priceTag > 0 %}({{ (combatant.priceTag / 1000000)|number_format(2, '.', ',') }} million ISK){% else %}&nbsp;{% endif %}
                            </div>
                        </td>
                        {% else %}
                        <td></td><td style="width:{{ pilotColWidth }}"></td>
                        {% endif %}
                        {% endif %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        {% endif %}
    </div>
{% endblock %}

{% block scripts %}
<script>
    $('.combatant').each(function () {
        var c = $(this),
            kid = c.attr('data-kill-id'),
			cid = c.attr('data-character-id');
        if (!kid && (!cid || ['0', '-1'].indexOf(cid) > -1)) return;
        c.css({ cursor: 'pointer' }).click(function () {
            window.open('{{ BR_FETCH_SOURCE_URL }}' + (!!kid ? ('kill/' + kid) : ('character/' + cid)) + '/', '_blank');
        });
    });
</script>
{% endblock %}