{% extends 'base.html' %}

{% set pageTitle = 'Show BattleReport' %}
{% if battleReport.title != '' %}
    {% set pageTitle = battleReport.title %}
{% endif %}

{% block content %}
    <h1>
        {% if battleReport.title == '' %}
            {{ battleReport.title }}
        {% else %}
            {{ pageTitle }}
        {% endif %}
        {% if BR_USER_CAN_EDIT %}
        <a href="/edit/{{ battleReport.battleReportID }}" class="btn btn-xs btn-default">Edit BR</a>
        {% endif %}
    </h1>
    {% include 'components/brStatistics.html' %}
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Battle Overview</h3>
        </div>
        <div class="panel-body">
            <div class="row">
            {% if battleReport.teamC.members|length > 0 %}
                {% set colClsName = 'col-xs-4' %}
            {% else %}
                {% set colClsName = 'col-xs-6' %}
            {% endif %}
                <div class="{{ colClsName }}">
                    {% set currentTeamName = "Team A" %}
                    {% set currentTeamID = "teamA" %}
                    {% set currentTeam = battleReport.teamA %}
                    {% include 'components/teamList.html' %}
                </div>
                <div class="{{ colClsName }}">
                    {% set currentTeamName = "Team B" %}
                    {% set currentTeamID = "teamB" %}
                    {% set currentTeam = battleReport.teamB %}
                    {% include 'components/teamList.html' %}
                </div>
                {% if battleReport.teamC.members|length > 0 %}
                <div class="{{ colClsName }}">
                    {% set currentTeamName = "Team C" %}
                    {% set currentTeamID = "teamC" %}
                    {% set currentTeam = battleReport.teamC %}
                    {% include 'components/teamList.html' %}
                </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
<script>
    $('.combatant').each(function () {
        var c = $(this),
            kid = c.attr('data-kill-id');
        if (!kid) return;
        c.css({ cursor: 'pointer' }).click(function () {
            window.open('{{ BR_FETCH_SOURCE_URL }}kill/' + kid + '/', '_blank');
        });
    });
</script>
{% endblock %}